* {
    font-family: 微软雅黑, sans-serif;
    font-size: 20px;
}

h1 {
    font-size: 30px;
}

.content {
    padding: 20px;
    text-align: center;
}

table {
    border: 1px solid darkgray;
    text-align: center;
    cursor: pointer;
}

tr {
    text-align: center;
}

/* 默认样式（未知有无雷） */
td {
    background-color: darksalmon;
    text-align: center;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    color: white;
    background-size: cover;
}

/* 已知无雷 */
.nomine {
    background-color: dodgerblue;
}

/* 已知有雷 */
.mine {
    background-image: url('../img/mine.jpg');
}

/* 红旗标记 */
.flagged {
    background-image: url('../img/flag.jpg');
}